* {
    margin: 0;
    padding: 0;
}

header {
    height: 45px;
    line-height: 45px;
    color: white;
    background-color: #000;
    padding-right: 10px;
}

.logo {
    display: inline;
    margin-left: 10px;
}

.menu {
    display: inline;
    float: right;
}

.nav {
    display: inline;
}

.nav_ul {
    display: inline;
}

.nav_ul li {
    display: inline;
    text-transform: uppercase;
}

.nav_ul a {
    color: white;
    text-decoration: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: white;
    text-align: center;
}

.products {
    margin: 15px 15px;
    text-align: center;
}
.label{
    margin: 5px 5px;
    box-shadow: 1px;
    background-color: #16a085;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 30px;

    float: left;
    position: absolute;
}

.product {
    height: 300px;
    width: 250px;
    margin-right: 40px;
    display: inline-block;
}


.reduction {
    
    line-height: 40px;
    margin: 5px 5px;
    box-shadow: 1px;
    background-color: #ed1c24;
    text-align: center;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    float: right;
    text-transform: uppercase;
}

.iproduct {
    height: 300px;
    width: 250px;
    background-size: cover;
}

.actions {
    text-align: center;
}
.btn-action {
    padding: 5px 5px;
    color: gray;
    font-weight: bold;
    background-color: white;
    border: 1px #edd3d3 solid;
}
.price {
    color: #16a085;
    font-weight: bold;
}

.old-price {
    color: grey;
    font-size: 12px;
}



.btn-action:hover {
    padding: 5px 5px;
    color: white;
    font-weight: bold;
    background-color: rgb(70, 80, 224);
}

.mb-5 {
    margin: 5px;
}